language: perl
perl:
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
before_install:
      cpanm -n Devel::Cover::Report::Coveralls
script:
      perl Makefile.PL && make && cover -test -report coveralls
notifications:
  email:
    on_success: always
    on_failure: always
